<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-bottom: 10px;">
  <div class="fixHeader" id="myHeader">
    <mat-card style="background-color: hsl(199, 98%, 48%); color:white; padding: 15px;">
      <mat-card-title>Data Generation

        <button style="float: right; 
        background-color: white; right: 0;
        color: black !important;"
          class="btn btn-primary mat-ripple" md-ripple="Download" (click)="save()">Download</button>&nbsp;
      </mat-card-title>
    </mat-card>
  </div> 
</div> 

  <table width="100%" class="table table-striped table-condensed" style="overflow-y: scroll;
  width: 98%;margin-left: 10px;">
    <tr style="background:rgb(173, 184, 187)">
     <th>S.NO</th>
      <th>C.Name</th>
      <th>Minlength</th>
      <th>Maxlength</th>
      
      <th></th>
   
      
    </tr>
  
    
        <tr *ngFor="let item of detail;let i= index">
<td>{{i+1}}</td>
      <td>
          <mat-form-field>
          <input  [(ngModel)]="item.columns" matInput placeholder="C.Name" type="text">
          </mat-form-field>
      </td>
     <td>
          <mat-form-field>
          <input   [(ngModel)]="item.minlengths" matInput placeholder="Min length" type="text">
          </mat-form-field>
        </td>

      <td>
          <mat-form-field>
          <input   [(ngModel)]="item.maxlengths" matInput placeholder="Max length" type="text">
          </mat-form-field>
        </td>
        
         <!-- <td>
                <mat-form-field>
                <input [(ngModel)]="item.rows" matInput placeholder="No of Rows" type="text">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-select  [(ngModel)]="item.format" placeholder="Formats">
                       
                      <mat-option value="CSV">CSV</mat-option>
                      <mat-option value="JSON">JSON</mat-option>
                      <mat-option value="EXCEL">EXCEL</mat-option>
                      <mat-option value="XML">XML</mat-option>
                      <mat-option value="NOTEPAD">NOTEPAD</mat-option>
                    </mat-select>
  
                  </mat-form-field>
            </td> -->
            <td>
             <button 
            class="btn btn-danger mat-ripple" (click)="removeSaleItem(i)">X</button>
              </td>
           
              
    </tr>
    </table>
    <button  md-ripple="submit" class="btn btn-success"  (click)="addMore($event)" >Add Another Field</button>
    
  


    <div class="content">
      <div style="padding-left:10px;padding-right:10px">
        <mat-card style="padding-left:50px;">
    
           <form class="form-horizontal" class="form-inline" [formGroup]="DataForm"> 
    
            <div class="row">
   
            
        <div class="col-lg-6 col-md-6 col-sm-12 ">
          <div class="form-group" >
            <div class="col-xl">

                <mat-form-field>
                    <input [(ngModel)]="rows" [formControl]="DataForm.controls['rows']" matInput placeholder="No of Rows" type="text">
                    </mat-form-field>
            </div>
          </div>
        </div>
      
       
       
        
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-xl">
    
                    <mat-form-field>
                        <mat-select  [(ngModel)]="format" [formControl]="DataForm.controls['format']"  placeholder="Formats">
                           
                          <mat-option value="CSV">CSV</mat-option>
                          <mat-option value="JSON">JSON</mat-option>
                          <mat-option value="EXCEL">EXCEL</mat-option>
                          <mat-option value="XML">XML</mat-option>
                          <mat-option value="NOTEPAD">NOTEPAD</mat-option>
                        </mat-select>
      
                      </mat-form-field>
                </div>
              </div>
            </div>
           
         </div>
         </form>
         </mat-card>
         </div>
         </div>
            
           